<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
      <!--
      ************************************************************
      * VLC-Record Help (english version)
      * Author:  Jo2003
      * Begin:   2012-07-05
      * $HeadURL$
      * $Id$
      ************************************************************
      -->
      <title>[%PROGRAM%] Help</title>
      <link rel="stylesheet" type="text/css" href="help.css" />
   </head>
   <body>
      <h1 id="top">[%PROGRAM%]</h1>
      <!-- 
        ************************************************************
        * TOC not needed for QtHelp
        * Remove comment to have it available for e.g. web view!
        ************************************************************
      <div class="index">
         <ol>
            <li><a href="#about">About</a></li>
            <li><a href="#versions">Versions</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#installation">Installation</a></li>
            <li><a href="#ftsettings">First Time Settings</a></li>
            <li><a href="#settings">Settings</a>
               <ol>
                  <li><a href="#mainsettings">Main Settings</a></li>
                  <li><a href="#shortcuts">Shortcuts</a></li>
                  <li><a href="#advsettings">Advanced Settings</a></li>
                  <li><a href="#parentmanager">Parental Manager</a></li>
               </ol>
            </li>
            <li><a href="#discovergui">Discovering the GUI</a></li>
            <li><a href="#discoverfeatures">Discovering Features</a>
               <ol>
                  <li><a href="#favchannels">Favourite Channels</a></li>
                  <li><a href="#vodbrowser">Video on Demand</a></li>
                  <li><a href="#archive">Archive</a></li>
                  <li><a href="#timerrec">Timer Record</a></li>
                  <li><a href="#otr">One Touch Record</a></li>
                  <li><a href="#fullscreen">Full Screen Mode</a></li>
               </ol>
            </li>
         </ol>
      </div>
      -->
      <h2 id="about">About</h2>
      [%PROGRAM%] is a tool to watch / record IPTV streams sent by [%SERVICE%]. 
      It is written in C++ using the <a class="extern" href="http://qt.digia.com" target="_blank">Qt framework by Digia <img src="images/external.png" alt="external" /></a>. 
      The player functionality is realized by using the libvlc library from 
      <a class="extern" href="http://www.videolan.org/vlc/" target="_blank">Videolans VLC player <img src="images/external.png" alt="external" /></a>.
      <!-- [%HIDEPROJECT%]
      <br />
      [%PROGRAM%] is open source. You can always find the source code as well as
      the latest builds at the <a class="extern" href="http://code.google.com/p/vlc-record/" target="_blank">projects site <img src="images/external.png" alt="external" /></a> 
      (hosted by Google Code).
      [%HIDEPROJECT%] -->
      <h2 id="versions">Versions</h2>
      There are versions available for:
      <ul>
         <li>Windows (XP or better)</li>
         <li>Mac OSX 10.6 x86_64 or better</li>
         <li>Ubuntu Linux x86 (current version)</li>
      </ul>
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h2 id="features">Features</h2>
      [%PROGRAM%] has following features:
      <ul>
         <li>play / record live streams</li>
         <li>EPG - electronic program guide</li>
         <li>Archiv - 2 weeks for most channels (play / record)</li>
         <li>Timer Record</li>
         <li>VOD - video on demand (play / record)</li>
         <li>Parental Manager</li>
      </ul>
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h2 id="installation">Installation</h2>
      <h3>Windows</h3>
      The program will be installed by default in your local application folder 
      (c:\Users\[User Name]\AppData\Local\[%PROGRAM%]). This means that you don't need
      administrator privileges to install the program.<br />
      The program settings will be stored in your local roaming folder
      (c:\Users\[User Name]\AppData\Roaming\[%PROGRAM%]).
      <h3>Mac OSX</h3>
      After opening the dmg file you can drag and drop the application bundle into your application folder.<br /> 
      The program settings will be stored inside your home folder (~/.[%PROGRAM%]).
      <h3>Ubuntu</h3>
      After a double click on the deb package all dependencies as well as the program will be installed. 
      A launcher will also be added to your system. To start the program open the dash (Windows Key) and type
      the first letters of the programs name. Now the program should be listed in dash and you can
      start it by clicking on the launcher icon.<br />
      The program settings will be stored inside your home folder (~/.[%PROGRAM%]).
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h2 id="ftsettings">First Time Settings</h2><br />
      <img src="images/lang/en/ftsettings.png" alt="First Time Settings Dialog" title="First Time Settings Dialog" /><br />
      Please enter your account data there. If you want to have erotic channels displayed in your channel list, 
      check the related checkbox. If you insert your parental code in the lower textfield you can watch these
      channels without the need to enter the parental code. I'd strongly recomment to leave this field blank.
      <b>Please Note: Your parental code is equal to your accounts password as long as you haven't changed this.</b><br />
      This dialog is displayed when you start the program for the first time. You can force the display of this dialog
      if you remove the folder for the programs settings.
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h2 id="settings">Settings</h2>
      You can enter the settings by pressing following symbol on the GUI: <img src="images/tools.png" alt="Settings" title="Settings" />
      <h3 id="mainsettings">Main Settings</h3><br />
      <img src="images/lang/en/set_main.png" alt="Main Settings" title="Main Settings" /><br />
      In this tab you can change / enter basic program settings:
      <ul>
         <li>Account / Password</li>
         <li>Record Path - Where to save recorded video files?</li>
         <li>Player Path - If you want to start an external player you have to choose the executable file there (optional).</li>
         <li>Stream Server (location) - Choose the nearest one.</li>
         <li>Bitrate - Choose between "Premium", "Standard", "Eco" and "Mobile"</li>
         <li>Buffer - Buffer time in seconds. Increase this value if you encounter problems in video playback (default: 8s).</li>
         <li>Timeshift - Hours between Moscow time and your localtime.</li>
         <li>Language - Takes effect only after saving the settings.</li>
         <li>Reload Logos - If you encounter erros in channel list (e.g. a logo doesn't match the channel) you can reload all channel logos there.</li>
         <li>Fix time offset - Compensates small time difference between the API server and your local computer (default: on).</li>
         <li>Enable Adv. Settings - Enables advanced settings tab (default: off).</li>
      </ul>
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="shortcuts">Shortcuts</h3><br />
      <img src="images/lang/en/set_shortcuts.png" alt="Shortcut Settings" title="Shortcut Settings" /><br />
      Here you can change the default shortcuts used in this program. To do so mark a shortcut with the mouse.
      Now press the key combination you want as new shortcut. If the line turns red you already used this
      shortcut for another command.<br />
      You can reset the shortcuts to the default values using the tool button at the lower end of this tab.
      <!-- <div class="toplink"><a href="#about" target="_self">Top</a></div> -->
      <h3 id="advsettings">Advanced Settings</h3><br />
      <img src="images/lang/en/set_advanced.png" alt="Advanced Settings" title="Advanced Settings" /><br />
      In this tab you can change following program settings:
      <ul>
         <li>Proxy Server - Configure a proxy server if you can't connect directly to the internet.</li>
         <li>API Server - Change the API server. Activate this field by pressing <b>Ctrl+Alt+A</b><!-- [%HIDEPROJECT%] (default: [%APISERVER%] {Don't touch it!})[%HIDEPROJECT%] -->.</li>
         <li>Player Module - Player dependent configuration files. Choose between "5_libvlc.mod" and "9_libvlc_odl.mod" (default: 5_libvlc.mod). 
         You can have a look at the module files itself to get an idea what's going on there. Don't touch it if you don't know what you're doing!</li>
         <li>Log Level - Configure what will be written to logfile (default: log everything). If you need help if something doesn't work as you 
         expected - don't change it!</li>
         <li>Shutdown Command - If you want to shutdown your computer (e.g. after timer record) you can insert a command here. 
         For Windows a default command is set.</li>
         <li>Ask for Record Filename - Program will ask you for a filename as soon as you want to record any show (default: off).</li>
         <li>Detach player at startup - If you use an external player it will be detached from [%PROGRAM%]. 
         It then runs as independent process which [%PROGRAM%] can't control at all (default: off).</li>
         <li>Doubleclick starts play - If <b>off</b> play starts as soon as you click on a channel in channel list (default: on).</li>
         <li>Minimize to Systray - If <b>on</b> program will be hidden from taskbar when minimized. 
         An icon in the tasktray will tell about the running program instead (default: off).</li>
         <li>Translit record filename - Transliterates a record filename from cyrillic into latin letters (default: off).</li>
         <li>GPU acceleration - Uses GPU for video decoding (highly experimental, default: off).</li>
         <!-- [%HIDDEN%]
         <li>Show Ads - Show commercials at the begin of a video (VOD). Changeable only in VLC-Record (default: on).</li>
         [%HIDDEN%] -->
      </ul>
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="parentmanager">Parental Manager</h3><br />
      <img src="images/lang/en/set_parent_login.png" alt="Parental Login" title="Parental Login" /><br />
      Enter your parental code to enter the parental manager.<br /> <br />
      <img src="images/lang/en/set_parent_manager.png" alt="Parental Manager" title="Parental Manager" /><br />
      Here you can configure following things:
      <ul>
         <li>Channel Manager - Selected channels will be <b>hidden</b> from channel list.</li>
         <li>VOD Manager - Select access for the various genres.</li>
         <li>Parent Code - Here you can change the parent code.</li>
         <li>Adult Channels - Here you can choose what to be done with the adult channels (in channel list).</li>
      </ul>
      <b>Please Note: You have to save these settings directly in the parent manager. They are independent from the other settings.</b>
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h2 id="discovergui">Discovering the GUI</h2><br />
      <img src="images/lang/en/whole_view.png" alt="Whole View" title="Whole View" /><br />
      At the left side you see the channel list. Above the channel list is the area for the channel favourites. At the top left corner
      you can choose between the live program and video on demand (VOD) - where available.<br />
      In the middle of the GUI you can see the electronic program guide (EPG). It shows the program for the choosen day and channel. 
      At the top of the EPG view there are buttons to choose a day and to jump one week forward or back. 
      At the lower end you can see a search field which lets you search for words in the currently shown EPG.<br />
      At the upper right side you see the player widget. Below it there are the play control buttons and below these buttons you can see a small
      info widget.<br />
      At the lower right corner there are the settings-, the info-, help- and the quit button.
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h2 id="discoverfeatures">Discovering Features</h2>
      <h3 id="favchannels">Favourite Channels</h3><br />
      <img src="images/lang/en/chan_add_favourite.png" alt="Add Favourite" title="Add Favourite" /><br />
      You can define up to 10 favourite channels - either by doing a right click at the channel in the channel list 
      and choosing "Add to favourites" or by using drag'n'drop. The channel will now be placed in the area above 
      the channel list. If you press at a favourite button the channel in channel list will be selected and the 
      EPG for this channel will be loaded. You can remove channels from the favourite area by making a right click there.
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="vodbrowser">Video on Demand (where available)</h3><br />
      <img src="images/lang/en/vod_show.png" alt="Show VOD Browser" title="Show VOD Browser" /><br />
      You can activate the VOD browser by clicking at the button at the upper left corner.<br /> <br />
      <img src="images/lang/en/vod_genre.png" alt="Choose Genre" title="Choose Genre" /><br />
      You can choose a genre ...<br /> <br />
      <img src="images/lang/en/vod_sort.png" alt="Sort" title="Sort" /><br />
      ... and sort the videos. There you can also choose to show you favourite videos.<br /> <br />
      <img src="images/lang/en/vod_search.png" alt="Search VOD" title="Search VOD" /><br />
      Or you can search for a video.<br /> <br />
      <img src="images/video_choose.png" alt="Choose Video" title="Choose Video" /><br />
      You choose a video with a mouse click.<br /> <br />
      <img src="images/lang/en/vod_videoinfo.png" alt="Video Information" title="Video Information" /><br />
      Now you can see the information about the selected video. You can add / remove the video to / from your favourites by clicking
      at the heart at the top. You can record or play the video by clicking at the lower buttons. A click at <b>[Back]</b> brings you
      back to the former site.
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="archive">Archive</h3>
      For most channels a archive is available. This means that you can watch any program which was sent on this channel 
      for the last two weeks.<br />
      <img src="images/lang/en/rec_archive.png" alt="Archive Play Record" title="Archive Play Record" /><br />
      You can watch or record this program by clicking at the play / record buttons in the EPG browser. If you choose
      play here you can jump to any time in that program by using the slider below the player widget.<br /> <br />
      <img src="images/click_n_go_slider.png" alt="Click'n'Go Slider" title="Click'n'Go Slider" /><br />
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="timerrec">Timer Record</h3>
      You can open the timer record dialog either by pressing on this 
      <img src="images/timerrec_own.png" alt="Timer Record" title="Timer Record" /> button or by clicking 
      at the clock in the EPG browser.<br />
      <img src="images/lang/en/add_timer_rec.png" alt="Save as Timer" title="Save as Timer" /><br /> <br />
      Timer Record dialog will open:<br />
      <img src="images/lang/en/timer_record.png" alt="Timer Record Dialog" title="Timer Record Dialog" /><br />
      In this dialog you can plan a record job. You can choose the channel to record from. You must give a name 
      for the file in which the video will be saved. You have to insert the start and the end time of the program.
      When choosing "silent record" the program only will record the program, but not show. Checking the
      "shutdown" box lets shutdown the computer after all records are completed. This only works if you have set
      a shutdown command in the <a href="#advsettings">settings</a>.
      A click at the <img src="images/add.png" alt="Add Job" title="Add Job" /> button will add this record
      to the job list. You can edit a stored record job by making a double click at the entry in the job list. 
      The data will now be displayed in the upper fields. You can now make your changes. A click at the 
      <img src="images/add.png" alt="Add Job" title="Add Job" /> will save your changes. You can remove a 
      stored record job by marking it in job list and pressing the 
      <img src="images/delete.png" alt="Remove Job" title="Remove Job" /> button. When adding a new timer record job the 
      program will check its validness. 
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="otr">OTR (One Touch Record)</h3><br />
      <b>Note:</b> This is not <a href="#timerrec">Timer Record</a>!<br />
      You can enable a timer to stop your pending record after a given time. This feature will be activated when
      you record a show either from live stream or from archive. In this case the record button will change from
      <img src="images/record.png" alt="record" title="record" /> to <img src="images/record_timer.png" alt="record" title="record" />. 
      If you press this button a new dialog will appear:<br />
      <img src="images/lang/en/record_timer.png" alt="record timer" title="record timer" /><br /> <br />
      You can choose the time the record should run. A click at the button <img src="images/button_ok.png" alt="set" title="set" /> 
      will activate the timer. You will see the time running. Now you can close this windows.<br />
      <img src="images/lang/en/close_record_timer.png" alt="close dialog" title="close dialog" /><br /> <br />
      When time is up the record will be stopped automatically.<br />
      <b>Please Note:</b> You can change the timer setting or disable the timer by again clicking at the record button. 
      A click at <img src="images/delete.png" alt="Cancel Timer" title="Cancel Timer" /> will cancel the record timer.
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="fullscreen">Full Screen Mode</h3><br />
      <img src="images/fullscreen.png" alt="full screen mode" title="full screen mode" /><br /> <br />
      [%PROGRAM%] supports a full screen mode. You can switch to full screen either by making a double click 
      to the video widget, by activating the chosen <a href="#shortcuts">full screen shortcut</a> or by pressing 
      the blue button as shown in next image.<br />
      <img src="images/switch_to_fullscreen.png" alt="switch to full screen" title="switch to full screen" /><br /> <br />
      On mouse move the control panel will be shown. This panel has the same functionality as the control panel 
      in normal windowed mode. It stays visible on top as long as the mouse is over it. Moving the mouse outside this panel 
      will let it fade out after a while.<br />
      You can move this panel to the position you like. Place the mouse pointer above the move handle as shown in next image. 
      The mouse cursor will turn into a hand. Now press the mouse button and move the control panel as you like.<br />
      <img src="images/fullscreen_move_panel.png" alt="Move control panel" title="Move control panel" /><br /> <br />
      You can leave the full screen mode exactly as you entered it:
      <ul>
        <li>Making a double click on the video widget.</li>
        <li>Activating the chosen shortcut.</li>
        <li>Pressing the button as shown in following image.</li>
      </ul><br /> <!-- Note: The break is needed here! 
                       Without it it looks strange in help browser 
                       ... don't know why!
                  -->
      <img src="images/fullscreen_to_normal.png" alt="leave full screen" title="leave full screen" />
      <br /> <br />
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
   </body>
</html>
