<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
      <!--
      ************************************************************
      * VLC-Record Help (russian version)
      * Author:  Ilja Tretjakov, rovic2735 (editor)
      * Begin:   2012-07-25
      * $HeadURL$
      * $Id$
      ************************************************************
      -->
      <title>[%PROGRAM%] Help</title>
      <link rel="stylesheet" type="text/css" href="help.css" />
   </head>
   <body>
      <h1 id="top">[%PROGRAM%]</h1>
      <!--
        ************************************************************
        * TOC not needed for QtHelp
        * Remove comment to have it available for e.g. web view!
        ************************************************************
      <div class="index">
         <ol>
            <li><a href="#about">О программе</a></li>
            <li><a href="#versions">Версии</a></li>
            <li><a href="#features">Функциональные возможности</a></li>
            <li><a href="#installation">Установка</a></li>
            <li><a href="#ftsettings">Настройки при первом включении</a></li>
            <li><a href="#settings">Настройки</a>
               <ol>
                  <li><a href="#mainsettings">Основные настройки</a></li>
                  <li><a href="#shortcuts">Комбинации клавиш</a></li>
                  <li><a href="#advsettings">Дополнительные настройки</a></li>
                  <li><a href="#parentmanager">Родительский контроль</a></li>
               </ol>
            </li>
            <li><a href="#discovergui">Описание графического интерфейса</a></li>
            <li><a href="#discoverfeatures">Описание дополнительных возможностей</a>
               <ol>
                  <li><a href="#favchannels">Избранные каналы</a></li>
                  <li><a href="#vodbrowser">Видеотека</a></li>
                  <li><a href="#archive">Архив</a></li>
                  <li><a href="#timerrec">Планировщик записи</a></li>
                  <li><a href="#otr">Ограничение времени записи</a></li>
                  <li><a href="#fullscreen">Полноэкранный режим</a></li>
               </ol>
            </li>
         </ol>
      </div>
      -->
      <h2 id="about">О программе</h2>
      [%PROGRAM%] программа предназначена для просмотра / записи IPTV сервиса [%SERVICE%]. 
      Программа написана на C++ с использованием <a class="extern" href="http://qt.digia.com" target="_blank">Qt framework by Digia <img src="images/external.png" alt="external" /></a>.
      Функциональность плеера реализуется с помощью библиотеки libvlc 
      <a class="extern" href="http://www.videolan.org/vlc/" target="_blank">Videolan VLC player <img src="images/external.png" alt="external" /></a>.
      <!-- [%HIDEPROJECT%]
      <br />
      [%PROGRAM%] имеет открытый исходный код. Вы всегда сможете найти исходный код, а так же
      последние сборки программы на <a class="extern" href="http://code.google.com/p/vlc-record/" target="_blank">сайте проекта <img src="images/external.png" alt="external" /></a> 
      (организовано Google Code).
      [%HIDEPROJECT%] -->
      <h2 id="versions">Версии</h2>
      Имеются версии для:
      <ul>
         <li>Windows (XP или выше)</li>
         <li>Mac OSX 10.6 x86_64 или выше</li>
         <li>Ubuntu Linux x86 (Текущая версия)</li>
      </ul>
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h2 id="features">Функциональные возможности</h2>
      [%PROGRAM%] имеет следующие функциональные возможности:
      <ul>
         <li>Просмотр / Запись трансляции</li>
         <li>EPG - Электронная программа передач</li>
         <li>Архив - 2 недели для большинства каналов (просмотр / запись)</li>
         <li>Планировщик записи</li>
         <li>Видеотека - видео по запросу (просмотр / запись)</li>
         <li>Менеджер родительского контроля</li>
      </ul>
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h2 id="installation">Установка</h2>
      <h3>Windows</h3>
      Программа устанавливается п​о умолчанию в вашей локальной папке приложений 
      (c:\Users\[Имя пользователя]\AppData\Local\[%PROGRAM%]). Это означает, что вам не нужны
      права администратора для установки программы.<br />
      Настройки программы будут храниться в локальной папки Roaming
      (c:\Users\[Имя пользователя]\AppData\Roaming\[%PROGRAM%]).
      <h3>Mac OSX</h3>
      После открытия DMG файла вы можете перетащить приложение в папку с приложениями.<br /> 
      Настройки программы будут храниться в вашем домашнем каталоге (~/.[%PROGRAM%]).
      <h3>Ubuntu</h3>
      После двойного щелчка на пакете deb будет запущен Ubuntu Software Center. Если вы нажмете на кнопку "установка", 
	   программа установит сама все требуемые файлы-библиотек и добавит программу в меню старт. Чтобы запустить программу, 
	   нужно нажать на кнопку Windows на клавиатуре, в окне поиска задать начальные буквы. После этого будет 
	   отображена иконка программы. Кликнув на иконку, вы запустите программу. Вы можете данную программу прикрепить на панель 
	   задач (слева). Тогда вы всегда сможете запускать программу из панели задач, кликнув на символ программы.<br />
      Настройки программы будут храниться в вашем домашнем каталоге (~/.[%PROGRAM%]).
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h2 id="ftsettings">Настройки при первом включении</h2><br />
      <img src="images/lang/ru/ftsettings.png" alt="First Time Settings Dialog" title="First Time Settings Dialog" /><br />
      Пожалуйста, введите данные вашего абонемента. Если вы хотите видеть в списке каналы для взрослых, 
      то вы должны отметить их галочкой. Если вы ввели ваш родительский пароль в текстовое поле ниже, вы можете смотреть эти
      каналы без необходимости повторного ввода родительского пароля. <b>Обратите внимание: Ваш родительский пароль соответствует 
      вашему паролю от абонемента, пока вы его не смените.</b><br />
      Это диалоговое окно также отображается при первом запуске программы. Вы можете вызвать данное диалоговое окно снова,
      если вы удалите папку с настройками программы.
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h2 id="settings">Настройки</h2>
      Вы можете зайти в настройки, нажав следующий символ в программе: <img src="images/tools.png" alt="Settings" title="Settings" />
      <h3 id="mainsettings">Основные настройки</h3><br />
      <img src="images/lang/ru/set_main.png" alt="Main Settings" title="Main Settings" /><br />
      На данной закладке вы можете изменять / производить базовые настройки программы:
      <ul>
         <li>Абонемент / Пароль</li>
         <li>Директория записи - сюда будут помещаться записываемые файлы</li>
         <li>Проигрыватель - если вы хотите использовать внешний VLC-плеер, вы должны указать путь к его исполняемому файлу (опционально).</li>
         <li>Сервер вещания (расположение) - выберите ближайший к вам с максимальной скоростью подключения. 
         <!-- [%HIDEPROJECT%]
         Скорость подключения к серверам можно проверить на сайте 
         <a class="extern" href="http://speedtest.kartina.tv/new/" target="_blank">speedtest.kartina.tv <img src="images/external.png" alt="external" /></a>
         [%HIDEPROJECT%] -->
         </li>
         <li>Битрэйт - выберете между "Премиум", "Стандарт", "Эко" и "Мобильный"</li>
         <li>Буферизация - время буферизации в секундах. Увеличьте это параметр, если вы сталкиваетесь с проблемами воспроизведения видео (по умолчанию: 8 сек).</li>
         <li>Задержка - разница во времени между Московским и вашем местным временем.</li>
         <li>Язык - вступает в силу только после сохранения настроек.</li>
         <li>Обновить логотипы - если вы столкнетесь с ошибками в списке каналов (например, логотип не соответствует каналу), вы можете обновить логотипы каналов.</li>
         <li>Синхронизировать время - компенсирует небольшую разницу во времени между серверами [%SERVICE%] и локальным компьютером (по умолчанию: вкл).</li>
         <li>Включить дополнительные настройки - становится доступной закладка дополнительные настройки (по умолчанию: выкл).</li>
      </ul>
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="shortcuts">Комбинации клавиш (горячие клавиши)</h3><br />
      <img src="images/lang/ru/set_shortcuts.png" alt="Shortcut Settings" title="Shortcut Settings" /><br />
      Здесь вы можете изменить комбинации клавиш, используемые по умолчанию в этой программе. Для этого отметьте комбинацию клавиш с помощью мышки.
      Теперь нажмите комбинацию клавиш, которую вы хотите установить, как новую комбинацию клавиш. Если строка становится красной, вы уже использовали эту
      комбинацию клавиш для другой команды.<br />
      Вы можете вернуть все комбинации клавиш к заданным по умолчанию, используя кнопку внизу этой закладки (Вернуть стандартные настройки).
      <!-- <div class="toplink"><a href="#about" target="_self">Top</a></div> -->
      <h3 id="advsettings">Дополнительные настройки</h3><br />
      <img src="images/lang/ru/set_advanced.png" alt="Advanced Settings" title="Advanced Settings" /><br />
      На данной закладке вы можете менять следующие настройки:
      <ul>
         <li>Прокси сервер - настройка прокси сервера, если вы не можете подключиться непосредственно к интернету.</li>
         <li>Сервер API - изменить сервер API. Активируйте это окно, нажав <b>Ctrl+Alt+A</b><!-- [%HIDEPROJECT%] (по умолчанию: [%APISERVER%] {Не меняйте этот параметр!})[%HIDEPROJECT%] -->.</li>
         <li>Модуль проигрывателя - используемые проигрывателем файлы конфигурации. Выбор между "5_libvlc.mod" и "9_libvlc_odl.mod" (по умолчанию: 5_libvlc.mod). 
         Вы можете посмотреть файл модуля, если хотите узнать его параметры. Если вы не уверены в предназначении параметра, не меняйте его!</li>
         <li>Уровень протокола - выберите, что будет записано в лог-файл (по умолчанию: все протоколы). Если вам нужна помощь или что-то работает не так, как вы 
         ожидали, не меняйте этот параметр!</li>
         <li>Команда отключения системы - если вы хотите выключить ваш компьютер (например, после окончания работы планировщика записи), вы можете ввести команду отключения системы здесь. 
         Для Windows эта команда уже задана по умолчанию.</li>
         <li>Запрос исходного файла - программа каждый раз будет запрашивать имя файла для записываемой передачи (по умолчанию: выкл).</li>
         <li>Отделить проигрыватель при записи - если вы используете VLC-плеер для воспроизведения/записи, он будет отделен от [%PROGRAM%]. 
         Запускается как независимый процесс, который не может управляться [%PROGRAM%] (по умолчанию: выкл).</li>
         <li>Двойной щелчок на списке каналов стартует плеер - если <b>выкл</b>, воспроизведение начинается, как только вы кликните на канале в списке каналов (по умолчанию: вкл).</li>
         <li>Сворачивать в трей - если <b>вкл</b>, при минимизации главного окна программы она будет скрыта на панели задач (по умолчанию: выкл).</li>
         <li>Транслит исходного файла - транслитерация имен записываемых файлов из кириллицы в латинские буквы (по умолчанию: выкл).</li>
         <li>GPU декодирует видео - использовать графический процессор для декодирования видео (экспериментальный параметр, по умолчанию: выкл).</li>
         <!-- [%HIDDEN%]
         <li>Показывать рекламу - показывает рекламу перед фильмом в видеотеке. Можно изменить только в VLC-Record (по умолчанию: вкл).</li>
         [%HIDDEN%] -->
      </ul>
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="parentmanager">Родительский контроль</h3><br />
      <img src="images/lang/ru/set_parent_login.png" alt="Parental Login" title="Parental Login" /><br />
      Введите ваш родительский пароль, чтобы зайти в родительский контроль.<br /> <br />
      <img src="images/lang/ru/set_parent_manager.png" alt="Parental Manager" title="Parental Manager" /><br />
      На данной закладке вы можете менять следующие настройки:
      <ul>
         <li>Менеджер каналов - выбранный канал будет <b>удален</b> из списка отображаемых каналов.</li>
         <li>Менеджер видеотеки - позволяет изменить доступ к разным жанрам.</li>
         <li>Родительский пароль - позволяет изменить родительский пароль.</li>
         <li>Каналы для взрослых - позволяет выбрать, отображать или нет каналы для взрослых (в списке каналов).</li>
      </ul>
      <b>Обратите внимание: Чтобы сохранить изменения настроек родительского контроля, вы должны нажать "Сохранить и выйти". 
      Эта кнопка не сохраняет другие настройки.</b>
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h2 id="discovergui">Описание графического интерфейса</h2><br />
      <img src="images/lang/ru/whole_view.png" alt="Whole View" title="Whole View" /><br />
      Слева вы видите список каналов. Над списком каналов находится область избранных каналов. В верхнем левом углу
      вы можете выбрать между прямым эфиром и видеотекой (опционально).<br />
      В середине расположена программа передач. Она отображает программу для выбранного канала в выбранный день. 
      В верхней части программы передач имеются кнопки для выбора дня, есть возможность переместиться на неделю вперед или назад. 
      Снизу расположено окно поиска, которое позволяет осуществлять поиск в показываемой в настоящее время программе передач.<br />
      В правом верхнем углу вы видите управление плеером. Ниже расположены кнопки управления воспроизведением, и 
      ниже этих кнопок вы можете видеть небольшой информационный блок.<br />
      В правом нижнем углу расположены кнопки настройки, информации, помощи и кнопка выхода.
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h2 id="discoverfeatures">Описание дополнительных возможностей</h2>
      <h3 id="favchannels">Избранные каналы</h3><br />
      <img src="images/lang/ru/chan_add_favourite.png" alt="Add Favourite" title="Add Favourite" /><br />
      Вы можете добавить до 10 каналов в избранные - для этого вам нужно нажать правой кнопкой на канал в списке 
      и выбрать "Добавить в избранные" или переместить канал в избранные. Область избранных каналов расположена над списком каналов. 
	   Нажатие на иконку в избранных запускает соответствующий этой иконке канал и отображает программу передач для этого канала. 
      Чтобы удалить канал из избранных, нажмите на соответствующую иконку и выберите удалить.
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="vodbrowser">Видеотека (опционально)</h3><br />
      <img src="images/lang/ru/vod_show.png" alt="Show VOD Browser" title="Show VOD Browser" /><br />
      Кнопка видеотека расположена в верхнем левом углу.<br /> <br />
      <img src="images/lang/ru/vod_genre.png" alt="Choose Genre" title="Choose Genre" /><br />
      Вы можете выбрать жанр ...<br /> <br />
      <img src="images/lang/ru/vod_sort.png" alt="Sort" title="Sort" /><br />
      ... и сортировку фильмов - последние, лучшие и избранные фильмы.<br /> <br />
      <img src="images/lang/ru/vod_search.png" alt="Search VOD" title="Search VOD" /><br />
      Вы так же можете воспользоваться поиском - окно поиска расположено ниже списка фильмов.<br /> <br />
      <img src="images/video_choose.png" alt="Choose Video" title="Choose Video" /><br />
      Для выбора фильма нажмите на картинку.<br /> <br />
      <img src="images/lang/ru/vod_videoinfo.png" alt="Video Information" title="Video Information" /><br />
      Теперь появляется информация о выбранном фильме. Вы можете добавить фильм в избранные или удалить фильм из избранных, нажав 
      на значок в виде сердечка, рядом с названием фильма. Вы можете начать воспроизведение или запись фильма, нажав на соответствующую кнопку. Нажав <b>[Назад]</b>, 
      вы вернетесь в список фильмов.
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="archive">Архив</h3>
      Архив доступен для большинства каналов. Это означает, что вы всегда можете посмотреть пропущенные за последние 2 недели любимые передачи.<br />
      <img src="images/lang/ru/rec_archive.png" alt="Archive Play Record" title="Archive Play Record" /><br />
      Вы можете смотреть программу из архива, нажав на кнопку воспроизведение в программе передач. 
      Используя ползунок, вы можете промотать передачу до нужного вам момента времени.<br /> <br />
      <img src="images/click_n_go_slider.png" alt="Click'n'Go Slider" title="Click'n'Go Slider" /><br />
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="timerrec">Планировщик записи</h3>
      Вы можете открыть диалоговое окно планировщика записи, нажав на эту 
      <img src="images/timerrec_own.png" alt="Timer Record" title="Timer Record" /> кнопку или нажав на 
      значок будильника в программе передач.<br />
      <img src="images/lang/ru/add_timer_rec.png" alt="Save as Timer" title="Save as Timer" /><br /> <br />
      Планировщик записи выглядит следующим образом:<br />
      <img src="images/lang/ru/timer_record.png" alt="Timer Record Dialog" title="Timer Record Dialog" /><br />
      В данном диалоговом окне отображается список передач для записи. Для добавления передачи в список передач для записи следует выбрать канал, установить время начала и окончания записи передачи, задать имя файла для записи выбранной передача.
      При выборе режима "Запись без просмотра" программа будет вести запись в фоновом режиме без вывода главного окна программы. При выборе функции
	   "Выключить компьютер по окончанию" компьютер будет отключен после записи всех передач в списке. Эта функция работает только, если
      вы ввели команду выключения компьютера в <a href="#advsettings">настройках</a>.
      При нажатии на кнопку <img src="images/add.png" alt="Add Job" title="Add Job" />  программа добавит данную передачу в список передач для записи. 
      Вы можете изменить параметры добавленной передачи для записи, нажав на неё дважды в списке передач для записи. 
      Параметры записи будут отображаться в верхней части поля. Теперь вы можете внести изменения. Нажав на кнопку 
      <img src="images/add.png" alt="Add Job" title="Add Job" />, вы сохраните ваши изменения. Для того, чтобы удалить передачу из списка передач для записи, 
      нажмите на кнопку <img src="images/delete.png" alt="Remove Job" title="Remove Job" />. 
      При добавлении новой передачи для записи в список программа будет проверять допустимость параметров записи этой передачи.
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="otr">Ограничение времени записи</h3><br />
      <b>Замечание:</b> Это не <a href="#timerrec">Планировщик записи</a>!<br />
      Вы можете задействовать таймер для автоматического прекращения записи после прошествия определенного времени. 
      Эта возможность может быть активирована только в тех случаях, когда Вы записываете текущую передачу или передачу 
      из архива. В этих случаях кнопка записи меняется с <img src="images/record.png" alt="record" title="record" /> на 
      <img src="images/record_timer.png" alt="record" title="record" />. 
      Если Вы нажмете на эту кнопку появится новое диалоговое окошко:<br />
      <img src="images/lang/ru/record_timer.png" alt="record timer" title="record timer" /><br /> <br />
      Здесь вы сможете выбрать требуемую длительность записи. Щелчок на кнопке <img src="images/button_ok.png" alt="set" title="set" /> 
      активирует таймер. Вы будете видеть отсчет времени. Теперь вы можете закрыть это диалоговое окошко.<br />
      <img src="images/lang/ru/close_record_timer.png" alt="close dialog" title="close dialog" /><br /> <br />
      Когда время закончится, запись остановится автоматически.<br />
      <b>Пожалуйста имейте в виду:</b> Вы можете изменять установки таймера путем повторного щелчка на кнопку записи.
      Вы можете отключать таймер нажав на кнопку <img src="images/delete.png" alt="Cancel Timer" title="Cancel Timer" />.
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="fullscreen">Полноэкранный режим</h3><br />
      <img src="images/fullscreen.png" alt="full screen mode" title="full screen mode" /><br /> <br />
      [%PROGRAM%] поддерживает полноэкранный режим. Вы можете переключиться в полноэкранный режим путем 
      двойного щелчка мышью на экране плеера, путем нажатия на  <a href="#shortcuts">горячую клавишу полного экрана</a> 
      или путем нажатия на голубую кнопку, как показано на следующей картинке.<br />
      <img src="images/switch_to_fullscreen.png" alt="switch to full screen" title="switch to full screen" /><br /> <br />
      В полноэкранном режиме движение мыши вызывает появление дополнительной панели управления плеером. 
      Эта панель имеет те же функциональные возможности, что и панель управления в нормальном 
      (не полноэкранном) видеорежиме. Она остается видимой, пока курсор мыши находится в ее пределах. 
      Передвижение курсора мыши за пределы этой панели приводит к ее исчезновению через небольшой промежуток времени.<br />
      С помощью мыши Вы можете передвигать эту панель в любое место экрана. Для этого поместите курсор мыши 
      поверх символа перемещения вверху панели, как это показано на следующей картинке.<br />
      <img src="images/fullscreen_move_panel.png" alt="Move control panel" title="Move control panel" /><br /> <br />
      Курсор мыши теперь примет форму руки. Нажмите левую кнопку мыши, и удерживая ее, путем перемещения мыши передвигайте 
      панель в требуемое место, после чего отпустите кнопку мыши.<br />
      Вы можете вернуться к нормальному видеорежиму точно также, как Вы перешли от него к полноэкранному режиму:
      <ul>
        <li>Путем осуществления двойного щелчка мышью на экране плеера.</li>
        <li>Путем нажатия на горячую клавишу полного экрана.</li>
        <li>Путем нажатия на кнопку, как показано на следующей картинке.</li>
      </ul><br /> <!-- Note: The break is needed here! 
                       Without it it looks strange in help browser 
                       ... don't know why!
                  -->
      <img src="images/fullscreen_to_normal.png" alt="leave full screen" title="leave full screen" />
      <br /> <br />
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
   </body>
</html>
