<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
      <!--
      ************************************************************
      * VLC-Record Help (german version)
      * Author:  Jo2003
      * Begin:   2012-07-12
      * $HeadURL$
      * $Id$
      ************************************************************
      -->
      <title>[%PROGRAM%] Hilfe</title>
      <link rel="stylesheet" type="text/css" href="help.css" />
   </head>
   <body>
      <h1 id="top">[%PROGRAM%]</h1>
      <!-- 8< 8< 8< 8< --
        ************************************************************
        * TOC not needed for QtHelp
        * Remove comment to have it available for e.g. web view!
        ************************************************************
        -- >8 >8 >8 >8 --
      <div class="index">
         <ol>
            <li><a href="#about">Über das Programm</a></li>
            <li><a href="#versions">Versionen</a></li>
            <li><a href="#branding">Branding (Customization)</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#installation">Installation</a></li>
            <li><a href="#ftsettings">Einstellungen beim ersten Start</a></li>
            <li><a href="#settings">Einstellungen</a>
               <ol>
                  <li><a href="#mainsettings">Haupteinstellungen</a></li>
                  <li><a href="#shortcuts">Tastenkürzel</a></li>
                  <li><a href="#advsettings">Erweiterte Einstellungen</a></li>
                  <li><a href="#parentmanager">Elternmanager</a></li>
               </ol>
            </li>
            <li><a href="#discovergui">Ein Blick auf die Benutzeroberfläche</a></li>
            <li><a href="#discoverfeatures">Ein Blick auf die Features</a>
               <ol>
                  <li><a href="#favchannels">Lieblingssender</a></li>
                  <li><a href="#vodbrowser">Videothek</a></li>
                  <li><a href="#archive">Archiv</a></li>
                  <li><a href="#timerrec">Aufnahme-Timer</a></li>
                  <li><a href="#fullscreen">Vollbild Modus</a></li>
               </ol>
            </li>
         </ol>
      </div>
      -->
      <h2 id="about">Über das Programm</h2>
      [%PROGRAM%] ist ein Programm, um IPTV Streams von [%SERVICE%] anzusehen oder aufzuzeichen.
      Es wurde in C++ unter der Benutzung von <a class="extern" href="http://qt.digia.com" target="_blank">Digias Qt-Framework <img src="images/external.png" /></a> geschrieben.
      Die Player-Funktion wurde mit Hilfe der libVLC von 
      <a class="extern" href="http://www.videolan.org/vlc/" target="_blank">Videolans VLC player <img src="images/external.png" /></a> realisiert.<br />
      [%PROGRAM%] ist OpenSource. Sie können den Source-Code als auch die neuesten Builds auf der 
      <a class="extern" href="http://code.google.com/p/vlc-record/" target="_blank">Projektseite <img src="images/external.png" /></a> finden (gehostet von Google-Code).
      <h2 id="versions">Versionen</h2>
      Es sind Versionen verfügbar für:
      <ul>
         <li>Windows (XP oder besser)</li>
         <li>Mac OSX 10.6 x86_64 oder besser</li>
         <li>Ubuntu Linux x86 (laufende Version)</li>
      </ul>
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <!-- [%HIDDEN%]
      <h2 id="branding">Branding (Customization)</h2>
      VLC-Record gibt es in verschiedenen Brandings:
      <ul>
         <li>VLC-Record (das Original für  <a class="extern" href="http://www.kartina.tv" target="_blank">Kartina.TV <img src="images/external.png" /></a>)</li>
         <li>Kartina.TV (der offizielle Player für <a class="extern" href="http://www.kartina.tv" target="_blank">Kartina.TV <img src="images/external.png" /></a>)</li>
         <li>Polsky.TV (der offizielle Player für <a class="extern" href="http://www.polsky.tv" target="_blank">Polsky.TV <img src="images/external.png" /></a>)</li>
      </ul>
      Diese Brandings unterscheiden sich nur minimal (z.B. in den Icons und dem API Server-Pfad). 
      [%HIDDEN%] -->
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h2 id="features">Features</h2>
      [%PROGRAM%] hat folgende Features:
      <ul>
         <li>Wiedergabe und Aufnahme von Live-Streams</li>
         <li>EPG - Elektronische Programmvorschau</li>
         <li>Archiv - 2 Wochen für die meisten Programme (Wiedergabe / Aufnahme)</li>
         <li>Aufnahme-Timer</li>
         <li>Videothek (Wiedergabe / Aufnahme)</li>
         <li>Elternmanager</li>
      </ul>
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h2 id="installation">Installation</h2>
      <h3>Windows</h3>
      Das Programm wird standardmäßig in ihrem lokalen Programmordner installiert
      (c:\Users\[Benutzername]\AppData\Local\[%PROGRAM%]). Damit benötigen sie 
      keine Administratorrechte, um das Programm zu installieren.<br />
      Die Programmeinstellungen werden in ihrem Ordner für die lokalen Einstellungen gespeichert
      (c:\Users\[Benutzername]\AppData\Roaming\[%PROGRAM%]).
      <h3>Mac OSX</h3>
      Nachdem sie das dmg-Image geöffnet haben, können sie das App-Paket per Drag und Drop in ihren Programmordner
      kopieren. Die Programmeinstellungen werden in ihrem Benutzerordner gespeicher
      (~/.[%PROGRAM%]).
      <h3>Ubuntu</h3>
      Nachdem sie einen Doppelklick auf das deb-Paket gemacht haben, wird das Ubuntu Softwarecenter gestartet. Wenn 
      sie auf "installieren" klicken, werden das Programm sowie alle benötigten Bibliotheken installiert.
      Außerdem wird ein Programmstarter angelegt. Um das Programm zu starten, drücken sie bitte kurz die 
      "Windows-Taste" ihrer Tastatur. Daraufhin können sie im Dash die Anfangsbuchstaben (z.B. vlc-) eingeben. 
      Jetzt sollte der Starter angezeigt werden. Ein Klick auf den Starter startet das Programm. 
      Sie können das laufende Programm auch an die Unity-Leiste (links) anheften. Dann können sie das Pogramm einfach
      per Klick auf das Programm-Symbol starten.<br />
      Die Programmeinstellungen werden in ihrem Benutzerverzeichnis gespeichert (~/.[%PROGRAM%]).
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h2 id="ftsettings">Einstellungen beim ersten Start</h2><br />
      <img src="images/[%PROGRAM%]/de/ftsettings.png" alt="First Time Settings Dialog" title="First Time Settings Dialog" /><br />
      Hier müssen sie ihre Zugangsdaten eingeben. Wenn sie die Erotik-Kanäle in ihrer Kanalliste angezeigt haben
      wollen, markieren sie bitte die entsprechende Checkbox. Wenn sie den Eltern-Code in die untere Textbox eingeben,
      können sie die Erotik-Kanäle ansehen, ohne den Eltern-Code eingeben zu müssen. Ich würde aber dringend empfehlen,
      diese Textbox leer zu lassen.
      <b>Bitte beachten sie: Ihr Eltern-Code entspricht dem Account-Passwort solange sie diesen nicht ändern.</b><br />
      Dieser Dialog wird nur beim ersten Start des Programmes angezeigt. Wenn sie die Programmeinstellungen gelöscht haben,
      wird dieser Dialog beim nächten Programmstart wieder angezeigt.
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h2 id="settings">Einstellungen</h2>
      Sie starten die Einstellungen, wenn sie auf folgendes Icon unten rechts in der Benutzeroberfläche drücken: 
      <img src="images/tools.png" alt="Settings" title="Settings" />
      <h3 id="mainsettings">Haupteinstellungen</h3><br />
      <img src="images/[%PROGRAM%]/de/set_main.png" alt="Main Settings" title="Main Settings" /><br />
      Auf dieser Seite können sie folgende Einstellungen vornehmen:
      <ul>
         <li>Benutzer / Passwort</li>
         <li>Zielpfad - Wo sollen die aufgenommenen Videos gespeichert werden?</li>
         <li>Player Pfad - Wenn sie ein externes Player-Programm starten wollen, müssen sie hier den Pfad zu diesem Programm eingeben (optional).</li>
         <li>Stream Server (Standort) - Wählen sie den ihnen am nächsten liegenden.</li>
         <li>Bitrate - Wählen sie zwischen "Premium", "Standard", "Eco" und "Handy"</li>
         <li>Puffer - Zeit des Puffers in Sekunden. Erhöhen sie diesen Wert, wenn sie Probleme bei der Wiedergabe haben (Voreinstellung: 8s).</li>
         <li>Timeshift - Zeitverschiebung in Stunden zwischen moskauer Zeit und ihrer lokalen Zeit.</li>
         <li>Sprache - Die Änderung wird erst übernommen, wenn sie die Einstellungen abspeichern.</li>
         <li>Logos neu laden - Wenn sie Probleme mit den Logos in der Kanalliste sehen (z.B. wenn ein Logo nicht zum Sender passt) können sie hier die Logos neu laden lassen.</li>
         <li>Versuche Zeitkorrektur - Kompensiert kleine Zeitabweichungen zwischen dem API Server und ihrem PC (Voreinstellung: an).</li>
         <li>Erweiterte Kanalliste - Zeigt erweiterte Informationen über die laufende Sendung in der Kanalliste (Voreinstellung: an).</li>
         <li>Erweiterte Einstellungen - Aktiviert die Seite mit den erweiterten Einstellungen (Voreinstellung: aus).</li>
      </ul>
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="shortcuts">Tastenkürzel</h3><br />
      <img src="images/[%PROGRAM%]/de/set_shortcuts.png" alt="Shortcut Settings" title="Shortcut Settings" /><br />
      Hier können sie die voreingestellten Tastenkürzel ändern. Um das zu tun, markieren sie ein Tastenkürzel
      mit der Maus und drücken anschließend die neue Tastenkombination. Wenn sich die Zeile rot färbt,
      ist dieses Tastenkürzel so bereits vergeben.<br />
      Sie können die Tastenkürzel zurücksetzen, wenn sie auf den unteren Button klicken.
      <!-- <div class="toplink"><a href="#about" target="_self">Top</a></div> -->
      <h3 id="advsettings">Erweiterte Einstellungen</h3><br />
      <img src="images/[%PROGRAM%]/de/set_advanced.png" alt="Advanced Settings" title="Advanced Settings" /><br />
      Auf dieser Seite können sie folgende Einstellungen ändern:
      <ul>
         <li>Proxy Server - Konfigurieren sie hier einen Proxy-Server, wenn sie nicht direkt auf das Internet zugreifen können.</li>
         <li>API Server - Hier können sie den API Server ändern. Drücken sie <b>Strg+Alt+A</b> um dieses Feld zu aktivieren (Voreinstellung: [%APISERVER%] {Besser nicht ändern!})</li>
         <li>Player Module - Player-abhängige Konfigurationsdateien. Wählen sie zwischen "5_libvlc.mod" und "9_libvlc_odl.mod" (Voreinstellung: 5_libvlc.mod). 
         Sie können sich diese Dateien in einem Text-Editor ansehen. Nur ändern, wenn sie wirklich wissen was sie tun!</li>
         <li>Log Level - Hier konfigurieren sie, was alles mitgeloggt wird (Voreinstellung: logge alles). 
         Wenn sie Hilfe brauchen, weil etwas nicht so funktioniert wie sie es erwarten, ändern sie diese Einstellung besser nicht.</li>
         <li>Shutdown Kommando - Wenn sie wollen, dass ihr PC nach getaner Arbeit herunter gefahren wird (z.B. nach einer Timer-Aufnahme), 
         geben sie hier bitte das passende Kommando ein. Für Windows gibt es eine Voreinstellung.</li>
         <li>Lade EPG - Macht ein Update der EPG Daten im x-Minuten-Intervall (Voreinstellung: an mit 5 Minuten Intervall).</li>
         <li>Frage nach Zieldateinamen - Das Programm wird sie nach einem Dateinamen für das aufzuzeichnende Video fragen (Voreinstellung: aus).</li>
         <li>Trenne Player - Wenn sie ein externes Playerprogramm nutzen, wird dieses nach dem Start von [%PROGRAM%] getrennt.
         Es ist dann unabhängig und kann nicht mehr von [%PROGRAM%] kontrolliert werden (Voreinstellung: aus).</li>
         <li>Auf Updates prüfen - Wenn diese Option auf <b>an</b> steht, prüft das Programm beim Start, ob Updates zur Verfügung stehen (Voreinstellung: an).</li>
         <li>Doppelklick ... startet Player - Wenn diese Option auf <b>an</b> steht, startet die Wiedergabe einer Sendung, wenn sie einen Doppelklick auf einen Sender in der Kanalliste machen (Voreinstellung: an).</li>
         <li>Ins Systray minimieren - Wenn diese Option auf <b>an</b> steht, wird das Programm von der Taskleiste versteckt, wenn sie es minimieren. 
         Stattdessen wird ein Icon im Systray über das laufende Programm informieren (Voreinstellung: aus).</li>
         <li>Translit für Dateinamen - Transliteriert den Dateinamen für eine Videoaufnahme in lateinische Buchstaben (Voreinstellung: aus).</li>
         <li>GPU-Beschleunigung - Benutzt die GPU, um das Video zu dekodieren (experimentell, Voreinstellung: aus).</li>
         <!-- [%HIDDEN%]
         <li>Zeige Reklame - Zeigt Reklame vor einem Video aus der Videothek (änderbar nur in VLC-Record, Voreinstellung: an).</li>
         [%HIDDEN%] -->
      </ul>
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="parentmanager">Elternmanager</h3><br />
      <img src="images/[%PROGRAM%]/de/set_parent_login.png" alt="Parental Login" title="Parental Login" /><br />
      Geben sie ihren Eltern-Code ein, um den Elternmanager zu betreten.<br /> <br />
      <img src="images/[%PROGRAM%]/de/set_parent_manager.png" alt="Parental Manager" title="Parental Manager" /><br />
      Hier können sie folgende Dinge konfigurieren:
      <ul>
         <li>Kanalmanager - Markieren sie hier Sender, die auf der Kannalliste <b>versteckt</b> werden sollen.</li>
         <li>Video Manager - Wählen sie den Zugriff auf die verschiedenen Genres.</li>
         <li>Eltern-Code - Hier können sie den Eltern-Code ändern.</li>
         <li>Erotik-Kanäle - Hier können sie wählen, was mit den Erotik-Kanälen in der Kanalliste gemacht werden soll.</li>
      </ul>
      <b>Bitte beachten sie: Sie müssen diese Einstellungen direkt im Elternmanager speichern, da sie unabhängig von den anderen Einstellungen sind.</b>
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h2 id="discovergui">Ein Blick auf die Benutzeroberfläche</h2><br />
      <img src="images/[%PROGRAM%]/de/whole_view.png" alt="Whole View" title="Whole View" /><br />
      Auf der linken Seite sehen sie die Kanalliste. Oberhalb der Kanalliste ist der Bereich für ihre Lieblingssender. 
      In der linken oberen Ecke können sie zwischen dem Live-Programm und der Videothek(wo verfügbar) wählen.<br />
      In der Mitte der Benutzeroberfläche sehen sie die elektronische Programmvorschau. Sie zeigt das Programm des gewählten Senders 
      für den gewählten Tag. Mittels der Button am oberen Ende des EPG können sie einen Tag wählen und eine Woche vor oder zurück springen.
      Am unteren Ende der EPG-Anzeige befindet sich ein Suchfeld mit dem sie nach Stichwörtern in der aktuellen Programmvorschau suchen können.<br />
      In der oberen rechten Ecke befindet sich das Video-Fenster. Darunter befinden sich die Player-Button und darunter ein kleines Infofenster.<br />
      In der unteren rechten Ecle finden sie die Button für die Einstellungen, Programminformationen, Hilfe und zum beenden des Programmes..
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h2 id="discoverfeatures">Ein Blick auf die Features</h2>
      <h3 id="favchannels">Lieblingssender</h3><br />
      <img src="images/[%PROGRAM%]/de/chan_add_favourite.png" alt="Add Favourite" title="Add Favourite" /><br />
      Sie können bis zu 10 Lieblingssender auswählen - entweder per Drag und Drop oder indem sie einen Rechtsklick
      auf den jeweiligen Sender in der Kanalliste machen und "Zu Favoriten hinzufügen" wählen. Der Sender wird nun oberhalb 
      der Kanalliste als Button angezeigt. Wenn sie diesen Button drücken, wird dieser Sender als aktueller Sender markiert
      und die passende Programmvorschau wird geladen. Sie können Lieblingssender entfernen, indem sie einen Rechtsklick
      in den Bereich oberhalb der Kanalliste machen.
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="vodbrowser">Videothek (wo verfügbar)</h3><br />
      <img src="images/[%PROGRAM%]/de/vod_show.png" alt="Show VOD Browser" title="Show VOD Browser" /><br />
      Sie können die Videothek aktivieren, indem sie oben links auf den entsprechenden Button klicken.<br /> <br />
      <img src="images/[%PROGRAM%]/de/vod_genre.png" alt="Choose Genre" title="Choose Genre" /><br />
      Sie können ein Genre auswählen ...<br /> <br />
      <img src="images/[%PROGRAM%]/de/vod_sort.png" alt="Sort" title="Sort" /><br />
      ... und die Videos sortieren. Hier können sie auch ihre Lieblingsvideos auswählen.<br /> <br />
      <img src="images/[%PROGRAM%]/de/vod_search.png" alt="Search VOD" title="Search VOD" /><br />
      Oder sie können nach einem bestimmten Video suchen.<br /> <br />
      <img src="images/[%PROGRAM%]/common/video_choose.png" alt="Choose Video" title="Choose Video" /><br />
      Das Video wählen sie einfach per Klick.<br /> <br />
      <img src="images/[%PROGRAM%]/de/vod_videoinfo.png" alt="Video Information" title="Video Information" /><br />
      Nun können sie die Informationen zum gewählten Video ansehen. Sie können dieses Video zu ihren Lieblingsvideo machen oder
      es aus dieser Auswahl entfernen indem sie auf das Herz in der Beschreibung klicken. Sie können das Video aufzeichnen oder
      nur wiedergeben. Ein Klick auf <b>[Zurück]</b> bringt sie zur vorhergehenden Seite zurück.
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="archive">Archiv</h3>
      Das Archiv ist für die meisten Sender verfügbar. Somit können sie jede Sendung, die auf diesem Sender innerhalb
      der letzten 2 Wochen lief, ansehen.<br />
      <img src="images/[%PROGRAM%]/de/rec_archive.png" alt="Archive Play Record" title="Archive Play Record" /><br />
      Sie können diese Sendung ansehen oder aufnehmen, indem sie auf die entsprechenden Button in der 
      Programmvorschau klicken. Während der Wiedergabe können sie mittels des Sliders unterhalb des Videofensters
      zu jedem beliebigen Zeitpunkt der Sendung springen..<br /> <br />
      <img src="images/click_n_go_slider.png" alt="Click'n'Go Slider" title="Click'n'Go Slider" /><br />
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="timerrec">Aufnahme-Timer</h3>
      Sie können den Aufnahme-Timer entweder durch Klick auf den Button
      <img src="images/timerrec_own.png" alt="Timer Record" title="Timer Record" /> 
      oder durch Klick auf das Uhrsymbol in der Programmvorschau öffnen.<br />
      <img src="images/[%PROGRAM%]/de/add_timer_rec.png" alt="Save as Timer" title="Save as Timer" /><br /> <br />
      Der Aufnahme-Timer öffnet sich:<br />
      <img src="images/[%PROGRAM%]/de/timer_record.png" alt="Timer Record Dialog" title="Timer Record Dialog" /><br />
      In diesem Fenster können sie eine Timer-Aufnahme planen. Sie müssen einen Kanal auswählen, Start- und Endzeit
      eingeben und einen Dateinamen eingeben, unter dem die Sendung aufgezeichnet wird. Wenn sie "Leise Aufnahme"
      wählen, wird die Sendung aufgezeichnet ohne sie wiederzugeben. Wenn sie "Herunterfahren" wählen, 
      wird der PC ausgeschaltet sobald alle Aufnahmen erledigt sind. Das funktioniert allerdings nur, wenn sie
      ein Shutdown-Kommando in den <a href="#advsettings">Einstellungen</a> angegeben haben. 
      Ein Klick auf <img src="images/add.png" alt="Add Job" title="Add Job" /> wird diese Timer-Aufnahme 
      in die Aufnahmeliste übernehmen. Sie können jeden Eintrag ändern, wenn sie einen Doppelklick auf den
      jeweiligen Eintrag in der Liste machen. Die Daten werden in die oberen Eingabefelder übernommen und
      sie können ihre Änderungen vornehmen. Ein weiterer Klick auf <img src="images/add.png" alt="Add Job" title="Add Job" /> 
      wird ihre Änderungen übernehmen. Sie können eine Timer-Aufnahme aus der Liste entfernen,
      indem sie den Eintrag markieren und auf <img src="images/delete.png" alt="Remove Job" title="Remove Job" /> 
      klicken. Wenn sie einen Eintrag erstellen, wird überprüft, ob ihre Angaben richtig sind. Bei eventuellen Zeitüberschneidungen
      werden sie gewarnt.
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
      <h3 id="fullscreen">Vollbild Modus</h3><br />
      <img src="images/fullscreen.png" alt="full screen mode" title="full screen mode" /><br /> <br />
      [%PROGRAM%] unterstützt den Vollbild Modus. Sie können zum Vollbild Modus wechseln, indem sie entweder einen
      Doppelklick auf das Videofenster machen, die unter Tastenkürzel gewählte <a href="#shortcuts">Vollbild-Tastenkombination</a>
      aktivieren oder den blauen Button wie im unteren Bild drücken.<br />
      <img src="images/switch_to_fullscreen.png" alt="switch to full screen" title="switch to full screen" /><br /> <br />
      Wenn sie die Maus bewegen, wird das Kontrollpanel angezeigt. Dieses Kontrollpanel besitzt genau die gleiche
      Funktionalität wie das Kontrollpanel im normalen Windows Modus. Es bleibt so lange sichtbar, wie sich die Maus
      über ihm befindet. Wenn der Mauszeiger das Panel verlässt, wird es nach kurzer Zeit ausgeblendet.<br />
      Sie können dieses Panel bewegen, indem sie mit der Maus auf den Bewegungsmarker wie im unteren Bild klicken und
      dann die Maus bewegen.<br />
      <img src="images/fullscreen_move_panel.png" alt="Move control panel" title="Move control panel" /><br /> <br />
      Sie können den Vollbild Modus genauso verlassen, wie sie ihn gestartet haben:
      <ul>
        <li>Einen Doppelklick auf das Videofenster machen.</li>
        <li>Die gespeicherte Tastenkombination aktivieren.</li>
        <li>Den blauen Button, wie unten gezeigt, drücken.</li>
      </ul>
      <img src="images/fullscreen_to_normal.png" alt="leave full screen" title="leave full screen" /><br />
      <!-- <div class="toplink"><a href="#top">Top</a></div> -->
   </body>
</html>
