;------------------------------
; application name ...
!define NAMEBODY "[%INT_NAME%]"
!define APPNAME  "[%OFF_NAME%]"

;----------------------------------
; define versions ...
!define APP_VERSION  "[%VERSION%]"

;----------------------------------
!define INSTBMP  "setup.bmp"
!define BINNAME  "${NAMEBODY}.exe"
!define INSTICON "${NAMEBODY}.ico"
!define CUSTFILE "${NAMEBODY}.qcr"

; Include defines ...
  !include "defines.nsh"

; Include common stuff ...
  !include "common.nsh"
