
MYARCH := $(shell if [ "$(uname -m)" == "x86_64" ] ; then echo -n "amd64" ; else echo -n "i386" ; fi)

all: pack

prepare:
	rm -rf release/*
	cp ${PROGSRC} release/
	mv release/${PROGSRC} release/[%INT_NAME%]
	chmod +x release/[%INT_NAME%]
	chmod +x create_deb.sh

pack: prepare
	./create_deb.sh [%INT_NAME%] [%OFF_NAME%] [%VERSION%] [%SERVICE%] ${MYARCH}